// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #2a3f54;
@border-radius-base: 0px;
@font-size-base: 12px;
@font-size-lg: @font-size-base + 2px;